@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom premium scrollbars for dark mode console */
::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

::-webkit-scrollbar-track {
  background: #0b0c10;
}

::-webkit-scrollbar-thumb {
  background: #1f2833;
  border-radius: 3px;
}

::-webkit-scrollbar-thumb:hover {
  background: #66fcf1;
}
